/* Created by fishavore on 2016-06-10 */
/* Updated on 2017-06-19 */

/* Color reference: http://encycolorpedia.com/fafcf8 */
/* Format reference: https://developer.microsoft.com/en-US/windows/downloads/windows-10-sdk */
/* Font reference: http://www.w3schools.com/cssref/css_websafe_fonts.asp */

body {
	background-color: #fafcf8;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: 6.0em;
	margin-right: 6.0em;
	margin-top: 6.0em;
	margin-bottom: 6.0em;
}

/* Reference: http://css-discuss.incutio.com/wiki/Horizontal_Line */
div.hr {
	background-color: #bbd6a0;
	border: none;
	color: #bbd6a0;
	height: 0.1em;
	margin-bottom: 1.0em;
	margin-top: -0.5em;
}
div.hr hr {
	display: none;
}

/* Reference: http://stackoverflow.com/questions/19988970/text-indent-doesnt-work-with-anchor-tag */div.indent {
	display:block;
	margin-top: 1.0em;
	text-indent: 2.0em;
}

a:link {
    color: #0f86fe;
}

/* Brown */
a:visited {
    color: #964b00;
}

a:hover {
    color: #69b4ff;
}

a:active {
     color: #f07901;
}

h1 {
	color: #373837;
}

h2, h3 {
	color: #373837;
	margin-top: 2.0em;
}

/* Reference: http://html5.saila.com/webdesign/tips/li-space/ */
li {
	margin-top: 1.0em;
}
