/* Created by fishavore on 2016-06-10 */

/* AliceBlue - #F0F8FF */
body {
	background-color: #F0F8FF;
    margin-left: 6em;
    margin-right: 6em;
	margin-top: 6em;
	margin-bottom: 6em;
}

/* Lavender - #E6E6FA */
/* Reference: http://css-discuss.incutio.com/wiki/Horizontal_Line */
div.hr {
	background-color: #E6E6FA;
	border: none;
	color: #E6E6FA;
	height: 0.25em;
	margin-bottom: 2em;
	margin-top: 2em;
}
div.hr hr {
	display: none;
}

/* Reference: http://www.w3schools.com/cssref/css_websafe_fonts.asp */
p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
}

h2, h3 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Reference: http://stackoverflow.com/questions/19988970/text-indent-doesnt-work-with-anchor-tag */div.indent {
	display:block;
	margin-top: 1em;
	text-indent: 2em;
}

/* Reference: http://html5.saila.com/webdesign/tips/li-space/ */
li {
	margin-top: 1em;
}
